name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
      - name: Configure Maven settings
        uses: s4u/maven-settings-action@v4.0.0
        with:
          servers: |
            [
              {
                "id": "github-device-connector",
                "username": "${{ github.actor }}",
                "password": "${{ secrets.GH_PACKAGES_TOKEN }}"
              },
              {
                "id": "github-telemetry-processor",
                "username": "${{ github.actor }}",
                "password": "${{ secrets.GH_PACKAGES_TOKEN }}"
              }
            ]
          repositories: |
            [
              {
                "id": "github-device-connector",
                "url": "https://maven.pkg.github.com/${{ github.actor }}/Device-Connector",
                "releases": { "enabled": true },
                "snapshots": { "enabled": true }
              },
              {
                "id": "github-telemetry-processor",
                "url": "https://maven.pkg.github.com/${{ github.actor }}/Telemetry-Event-Processor",
                "releases": { "enabled": true },
                "snapshots": { "enabled": true }
              }
            ]
          override: true
      - name: Build with Maven
        run: mvn -B -U -e -X package -DskipTests -P github-packages
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.11.1
      - name: Docker Login
        uses: docker/login-action@v3.6.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/iot-registry/registry-service:latest
          secrets: |
            maven_settings=./settings.xml